<h1>Users</h1>

<% if @users.any? %>
<ul>
  <% @users.each do |user| %>
  <li><%= user.email %>, created at <%= user.created_at %></li>
  <% end %>
</ul>
<% else %>
<p>There are no users yet.</p>
<% end %>
